@import "../../styles/variables.scss";

.hero-body {
  font-family: "Poppins";
  color: $primary-text-color;
  & h1 {
    font-family: $headline-font;
    font-weight: 700;
    line-height: 45px;
  }
  background: $background-1;
}

.code-svg {
  width: 32.5rem;
  height: 25rem;
  margin-top: -5rem;
}
.cog-svg {
  width: 150px;
  height: 150px;
  margin-top: -0rem;
}

.brush-svg {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -50%;
  right: 10%;
  margin-top: -15rem;
}

.border {
  display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 14px;
  visibility: hidden;
  width: 210px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
