@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$master-color: #f2f4f6;

$color-primary: linear-gradient(84.81deg, #07e6a3 11.9%, #00ebc7 87.64%);

$primary-text-color: #00214d;
$inverted-text-color: #fff;

$background-1: linear-gradient(
  11.42deg,
  #f0f8f5 26.21%,
  rgba(171, 232, 223, 0.2) 58.18%
);

$default-font: "Poppins";
$headline-font: "Poppins";
