@import "../../styles/variables.scss";
.contact-body {
  & h1,
  h2,
  h3 {
    color: $primary-text-color;
    font-family: $headline-font;
    font-weight: 700;
  }
  p,
  label {
    font-family: $default-font;
  }
  button {
    display: flex;
    margin: 0 auto;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.02);
    }
  }
}
