@import "../../styles/variables.scss";

.features-body {
  & h2 {
    color: $inverted-text-color;
  }
  color: $inverted-text-color;
  background: #00214d;
  & h1,
  h2 {
    font-family: $headline-font;
    font-weight: 700;
  }
}

.feature-card {
  border-radius: 5px;
  background: #011b3f;
  box-shadow: 0px 5px 10px 0px #00000059;
  @apply p-4 w-full mb-6 flex flex-col text-center items-center;
  & p {
    font-size: 14px;
  }
}

@screen md {
  .feature-card {
    @apply w-1/3 mx-2 mb-0;
  }
}

@screen lg {
  .feature-card {
    @apply w-1/4 mb-0;
  }
}

.feature-image {
  background: #00214d;
  @apply w-32 h-32 inline-flex items-center justify-center rounded-full text-indigo-500 mb-5 flex-shrink-0 overflow-hidden;
  & img {
    @apply w-3/5 object-contain object-center;
  }
}
