@import "../../styles/variables.scss";

.footer-body {
  background: #f0f8f5;
  color: $primary-text-color;
  a {
    color: $primary-text-color;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }

  span {
    color: $inverted-text-color;
  }
}
